# Don't track content of these folders
testing/Downloads
testing/Images

# Ignore everything from maker
maker/*
maker/multi_maker/*

# But not these files...
!maker/sources
!maker/data.yaml
!maker/maker.py
!maker/classes.py
!maker/Pipfile
!maker/Pipfile.lock
!maker/main.py
!maker/multi_maker.py
!maker/multi_maker/
!maker/multi_maker/example_test.yml