# Don't track content of these folders
testing/Downloads
testing/Images

# Ignore everything from maker
maker/*

# But not these files...
!maker/sources
!maker/data.yaml
!maker/maker.py
!maker/classes.py
!maker/Pipfile
!maker/Pipfile.lock