asn1crypto==0.24.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
cryptography==2.1.4
decorator==4.4.2
enum34==1.1.9
futures==3.3.0
idna==2.6
ipaddress==1.0.17
ipykernel==4.10.1
ipython==5.9.0
ipython-genutils==0.2.0
jupyter-client==5.3.4
jupyter-core==4.6.3
keyring==10.6.0
keyrings.alt==3.0
pathlib2==2.3.5
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==1.0.18
psutil==5.4.2
ptyprocess==0.6.0
pycairo==1.16.2
pycrypto==2.6.1
pygame==1.9.6
Pygments==2.5.2
pygobject==3.26.1
python-dateutil==2.8.1
pyxdg==0.25
PyYAML==5.3.1
pyzmq==19.0.0
scandir==1.10.0
SecretStorage==2.3.1
selenium==3.141.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.14.0
tornado==5.1.1
traitlets==4.3.3
urllib3==1.25.8
vboxapi==1.0
wcwidth==0.1.8
