/*************************************************************************************/
/**********************************Tags nativos**************************************/
ul{
    list-style: none;
}

input[type="radio"] {
    margin-left:10px;
    display: inline-block !important;
}

body{
    /*background: url(img/bg.png);*/
    background: white;
    max-width: 1200px !important;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 40px;
    font-family: sans-serif;
    font-size: 18px !important;
}

textarea{
    width: 200px !important;
    height: 25px !important;
    font-size: 20px !important;
    margin-left: 20%;
}
button{
    margin-left: 20%;
    margin-bottom: 20px;
}

/*
p{
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
*/
p{
    text-align: justify;
    -moz-text-align-last: left;
    text-align-last: left;
    margin-left: 20%;
}

/*************************************************************************************/
/**********************************CSS Propio**************************************/

.underlined{
    text-decoration: underline;
}

.titulo{
    font-size: 22px !important;
    font-weight: bold !important;
    text-align: center !important;
    margin-left: 0px;
}
.titulobayes{
    font-size: 22px !important;
    font-weight: bold !important;
    text-align: center !important;
    margin-left: 20%;
}
.button{
    left: 20px;
    width: 150px;
    margin-top: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-left: 0px;
}
.centered{
    margin: 0 auto !important;
    text-align: center !important;
}
.justified{
    margin: 0 auto;
    text-align: justify;
}
.leftaligned{
    margin: 0 auto;
    text-align: left;
}
.centercontainer{
    width: 100%;
    min-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.cl_text{
    margin: 0 auto;
    text-align: justify;
    max-width: 760px;
}
.crt_text{
    margin: 0 auto;
    text-align: left; 
    margin-left: 20%;
}

.crux{
    width: 100%;
    margin: 0 auto;
    min-height: 200px;
    margin-top: 100px;
    text-align: center;
}
.crux img{
    vertical-align: middle;
}

.centerlectura{
    width: 1000px;
}

.listabayes{
    width: 1000px;
    text-align: justify;
    -moz-text-align-last: left;
    text-align-last: left;
    margin-left: 17%;
}
.listabayes ul{
    text-align: left;
}
.listabayes li{
    margin: 0px 0px 10px 0px;
}

.listabayes1{
    width: 830px;
    text-align: justify;
    -moz-text-align-last: left;
    text-align-last: left;
    margin-left: 10%;
}

.listagraph{
    text-align: left;
    margin-left: 450px;
}

.listanumeracy{
    margin-left: 20%;
}

.limitnumeracy{
    width: 800px !important;
}

.pcrt{
    position: absolute;
    left: 422px;
    top: 165px;
}
.pcrt3{
    position: absolute;
    left: 280px;
    top: 277px;
}

.pnum1{
    position: absolute;
    top: 140px;
    left: 420px;
}

.bayesdiv1{
    float: left;
    margin-left: 16%;
    padding-top: 10px;
}
.bayesdiv2{
    float: left;
    margin-right: -35px;
}
.bayesdiv3{
    float: left;
    padding-top: 10px;
}

.bayesbutton{
    /*
    position: absolute;
    bottom: 2%;
    */
    position: relative;
    right: 65%;
    margin-top: 60px;
}

.mrimg1{
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.mrimg2{
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.mrpreamble1{
    margin-left: 18%;
}
.mrpreamble2{
    position: absolute;
    right: 340px;
    top: 10px;
}
.matrizfeedback{
    width: 800px;
    text-align: justify;
    /*margin-left: 20%;*/
}
.matrizlimit{
    width: 800px !important;
    margin-left: 15%;
}

.matrizimage{
    width: 900px;
}

.mrspan{
    margin-right: 20px;
}
.mroptionslock{
    margin-left: 190px;
}
.mrnumlock{
    margin-left: 60px;
    margin-right: 60px;
    font-weight: bold;
}

.bayesmultibutton{
    display: inline-block;
    padding: 6px 12px;
    margin: 0px 8px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', 'Arial', sans-serif;
    cursor: pointer;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-left: 46% !important;
}

.bayestextbutton{
    position: relative;
    right: 29%;
    width: 180px;
    margin-top: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-left: 0px;
}

/*************************************************************************************/
/**********************************CSS JsPsych**************************************/
/* MATH */
.jspsych-survey-multi-choicemath-option{
    display: inline-block;
}


/* HA  NEW */
.jspsych-survey-texthafinal-preamble{
    width: 150px;
    margin: 0 auto;
}

/* MR */
.jspsych-survey-textmrfinal-preamble{
    margin-left: 20%;
}

#jspsych-survey-textmrfinal-response-0{
    margin-left: 40%;
    width: 40px !important;
}

.mrmargintb{
    position: relative;
    left: 24%;
    width: 60px !important;
}

.mrmarginbttn{
    position: relative;
    left: 20%;
    margin-top: 15px;
}

.jspsych-survey-multi-choice-option {
  line-height: 2;
  /*display: inline-block;*/
}
.jspsych-survey-multi-choice1-option {
  line-height: 2;
  display: inline-block;
  /*margin-left: 90px;*/
  margin-left: 100px;
  /*margin-right: 55px;*/
  margin-right: 20px;
  position: relative;
  /*left: 5%;*/
  left: 8%;
}
.jspsych-survey-multi-choice2-option {
  line-height: 2;
  margin-left: 20%;
}
.jspsych-survey-multi-choice3-option {
  margin-left: 20%;
}
.jspsych-survey-multi-choicebayes-option {
  line-height: 2;
  display: inline-block;
  margin-right: 50px;
}
.jspsych-survey-multi-choicemr-option {
  line-height: 2;
  display: inline-block;
  margin-right: 97px;
}
/***************BETA**************/
.jspsych-survey-multi-choicemrbeta-option {
  line-height: 2;
  display: inline-block;
  margin-right: 25px;
}
/***************!BETA**************/

#jspsych-survey-multi-choicebayes-option-0-0 {
  margin-left: 28%;
}
#jspsych-survey-multi-choicemr-option-0-0 {
  margin-left: 41%;
}

/***************BETA**************/
#jspsych-survey-multi-choicemrbeta-option-0-0 {
  margin-left: 245px;
}
#jspsych-survey-multi-choicemrbeta-option-1-0 {
  margin-left: 245px;
}
#jspsych-survey-multi-choicemrbeta-option-2-0 {
  margin-left: 245px;
}
#jspsych-survey-multi-choicemrbeta-option-3-0 {
  margin-left: 245px;
}
#jspsych-survey-multi-choicemrbeta-option-4-0 {
  margin-left: 245px;
}
#jspsych-survey-multi-choicemrbeta-option-5-0 {
  margin-left: 245px;
}
#jspsych-survey-multi-choicemrbeta-option-6-0 {
  margin-left: 245px;
}

#jspsych-survey-multi-choicemrbeta-option-0-0 input[name="jspsych-survey-multi-choicemrbeta-response-0"]{
    margin-left: 245px;
}
#jspsych-survey-multi-choicemrbeta-option-0-1 input[name="jspsych-survey-multi-choicemrbeta-response-0"]{
    margin-left: 45px;
}
#jspsych-survey-multi-choicemrbeta-option-0-2 input[name="jspsych-survey-multi-choicemrbeta-response-0"]{
    margin-left: 45px;
}
#jspsych-survey-multi-choicemrbeta-option-0-3 input[name="jspsych-survey-multi-choicemrbeta-response-0"]{
    margin-left: 45px;
}
#jspsych-survey-multi-choicemrbeta-option-0-4 input[name="jspsych-survey-multi-choicemrbeta-response-0"]{
    margin-left: 45px;
}

#jspsych-survey-multi-choicemrbeta-option-1-0 input[name="jspsych-survey-multi-choicemrbeta-response-1"]{
    margin-left: 245px;
}
#jspsych-survey-multi-choicemrbeta-option-1-1 input[name="jspsych-survey-multi-choicemrbeta-response-1"]{
    margin-left: 45px;
}
#jspsych-survey-multi-choicemrbeta-option-1-2 input[name="jspsych-survey-multi-choicemrbeta-response-1"]{
    margin-left: 45px;
}
#jspsych-survey-multi-choicemrbeta-option-1-3 input[name="jspsych-survey-multi-choicemrbeta-response-1"]{
    margin-left: 45px;
}
#jspsych-survey-multi-choicemrbeta-option-1-4 input[name="jspsych-survey-multi-choicemrbeta-response-1"]{
    margin-left: 45px;
}

#jspsych-survey-multi-choicemrbeta-option-2-0 input[name="jspsych-survey-multi-choicemrbeta-response-2"]{
    margin-left: 245px;
}
#jspsych-survey-multi-choicemrbeta-option-2-1 input[name="jspsych-survey-multi-choicemrbeta-response-2"]{
    margin-left: 45px;
}
#jspsych-survey-multi-choicemrbeta-option-2-2 input[name="jspsych-survey-multi-choicemrbeta-response-2"]{
    margin-left: 45px;
}
#jspsych-survey-multi-choicemrbeta-option-2-3 input[name="jspsych-survey-multi-choicemrbeta-response-2"]{
    margin-left: 45px;
}
#jspsych-survey-multi-choicemrbeta-option-2-4 input[name="jspsych-survey-multi-choicemrbeta-response-2"]{
    margin-left: 45px;
}

#jspsych-survey-multi-choicemrbeta-option-3-0 input[name="jspsych-survey-multi-choicemrbeta-response-3"]{
    margin-left: 245px;
}
#jspsych-survey-multi-choicemrbeta-option-3-1 input[name="jspsych-survey-multi-choicemrbeta-response-3"]{
    margin-left: 45px;
}
#jspsych-survey-multi-choicemrbeta-option-3-2 input[name="jspsych-survey-multi-choicemrbeta-response-3"]{
    margin-left: 45px;
}
#jspsych-survey-multi-choicemrbeta-option-3-3 input[name="jspsych-survey-multi-choicemrbeta-response-3"]{
    margin-left: 45px;
}
#jspsych-survey-multi-choicemrbeta-option-3-4 input[name="jspsych-survey-multi-choicemrbeta-response-3"]{
    margin-left: 45px;
}

#jspsych-survey-multi-choicemrbeta-option-4-0 input[name="jspsych-survey-multi-choicemrbeta-response-4"]{
    margin-left: 245px;
}
#jspsych-survey-multi-choicemrbeta-option-4-1 input[name="jspsych-survey-multi-choicemrbeta-response-4"]{
    margin-left: 45px;
}
#jspsych-survey-multi-choicemrbeta-option-4-2 input[name="jspsych-survey-multi-choicemrbeta-response-4"]{
    margin-left: 45px;
}
#jspsych-survey-multi-choicemrbeta-option-4-3 input[name="jspsych-survey-multi-choicemrbeta-response-4"]{
    margin-left: 45px;
}
#jspsych-survey-multi-choicemrbeta-option-4-4 input[name="jspsych-survey-multi-choicemrbeta-response-4"]{
    margin-left: 45px;
}

#jspsych-survey-multi-choicemrbeta-option-5-0 input[name="jspsych-survey-multi-choicemrbeta-response-5"]{
    margin-left: 245px;
}
#jspsych-survey-multi-choicemrbeta-option-5-1 input[name="jspsych-survey-multi-choicemrbeta-response-5"]{
    margin-left: 45px;
}
#jspsych-survey-multi-choicemrbeta-option-5-2 input[name="jspsych-survey-multi-choicemrbeta-response-5"]{
    margin-left: 45px;
}
#jspsych-survey-multi-choicemrbeta-option-5-3 input[name="jspsych-survey-multi-choicemrbeta-response-5"]{
    margin-left: 45px;
}
#jspsych-survey-multi-choicemrbeta-option-5-4 input[name="jspsych-survey-multi-choicemrbeta-response-5"]{
    margin-left: 45px;
}

#jspsych-survey-multi-choicemrbeta-option-6-0 input[name="jspsych-survey-multi-choicemrbeta-response-6"]{
    margin-left: 245px;
}
#jspsych-survey-multi-choicemrbeta-option-6-1 input[name="jspsych-survey-multi-choicemrbeta-response-6"]{
    margin-left: 45px;
}
#jspsych-survey-multi-choicemrbeta-option-6-2 input[name="jspsych-survey-multi-choicemrbeta-response-6"]{
    margin-left: 45px;
}
#jspsych-survey-multi-choicemrbeta-option-6-3 input[name="jspsych-survey-multi-choicemrbeta-response-6"]{
    margin-left: 45px;
}
#jspsych-survey-multi-choicemrbeta-option-6-4 input[name="jspsych-survey-multi-choicemrbeta-response-6"]{
    margin-left: 45px;
}
/***************!BETA**************/
#jspsych-survey-multi-choicemr-option-1-0 {
  position: absolute;
  top: 245px;
  left: 700px;
}
#jspsych-survey-multi-choicemr-option-2-0 {
  position: absolute;
  top: 245px;
  left: 830px;
}
#jspsych-survey-multi-choicemr-option-3-0 {
  position: absolute;
  top: 245px;
  left: 960px;
}

/*
.jspsych-display-element{
    text-align: center;
    margin: 0 auto;
}
*/
.jspsych-display-element{
    text-align: left;
    margin: 0 auto;
}
.jspsych-survey-text-preamble{
    text-align: center;
}
.jspsych-survey-text{
    margin: 0 auto;
    /*modificado v*/
    margin-left: 20%;
    text-align: justify;
}
#jspsych-survey-multi-choice1-form{
    width: 1000px !important;
    /*margin-left: 15%;*/
    margin-left: 13%;
}
#jspsych-survey-multi-choice2-form{
    width: 1200px !important;
    margin-top: 80px;
}
#jspsych-survey-multi-choice2-form input[type="submit"]{
    margin-left: 20%;
}

#jspsych-survey-multi-choice3-form input[type="submit"]{
    margin-left: 20%;
}

#jspsych-survey-multi-choicebayes-form{
    width: 1200px !important;
}

.jspsych-survey-text-question ul{
    text-align: left;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    /*margin-left: 40%;*/
    margin-left: 17%;
}

.jspsych-btn1 {
  display: inline-block;
  padding: 6px 12px;
  margin: 0px 8px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', 'Arial', sans-serif;
  cursor: pointer;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  margin-left: 20% !important;
}

.jspsych-btn1:hover {
  background-color: #ddd;
  border-color: #aaa;
  margin-left: 20% !important;
}